kestra/gcp_bikeshare_pipeline.yaml
id: gcp_bikeshare_pipeline
namespace: dev.bikeshare

inputs:
  - id: year
    type: SELECT
    displayName: Select year
    values: [ "2023", "2024", "2025", "2026" ]
    defaults: "2026"

variables:
  gcs_loc: "gs://toronto-bike-share-bucket"
  gcs_file: "{{vars.gcs_loc}}/raw/{{inputs.year}}"

tasks:

# =========================
# DOWNLOAD + EXTRACT
# =========================
- id: download_and_extract
  type: io.kestra.plugin.scripts.python.Script
  taskRunner:
    type: io.kestra.plugin.core.runner.Process

  beforeCommands:
    - pip install requests pandas pyarrow kestra

  script: |
    import requests
    import zipfile
    import io
    import os
    import pandas as pd
    from kestra import Kestra

    package_url = "https://ckan0.cf.opendata.inter.prod-toronto.ca/api/3/action/package_show"
    package = requests.get(
        package_url,
        params={"id": "bike-share-toronto-ridership-data"}
    ).json()

    year = "{{ inputs.year }}"
    found_csvs = []

    resource = next(
        (r for r in package["result"]["resources"]
         if year in (r.get("name","") + r.get("url",""))),
        None
    )

    if not resource:
        raise Exception(f"No dataset found for year: {year}")

    response = requests.get(resource["url"])
    response.raise_for_status()

    zip_file = zipfile.ZipFile(io.BytesIO(response.content))

    parquet_files = []

    def safe_read_csv(file_bytes):
        # encoding + bad characters issue
        try:
            return pd.read_csv(io.BytesIO(file_bytes), encoding="utf-8")
        except:
            return pd.read_csv(io.BytesIO(file_bytes), encoding="cp1252")

    for file_info in zip_file.infolist():
        if file_info.filename.lower().endswith(".csv"):
            data = zip_file.read(file_info.filename)

            df = safe_read_csv(data)

            # Clean whitespace first
            df.columns = df.columns.str.strip().str.lower()

            # Rename only the exact column
            df.columns = [
                            "trip_duration" if col.strip() == "trip  duration" else col.replace(" ", "_")
                            for col in df.columns
                        ]

            if "bike_model" not in df.columns:
                df["bike_model"] = None
            else:
                df["bike_model"] = df["bike_model"].astype("string")
            
            print("FINAL COLUMNS BEFORE PARQUET:", df.columns.tolist())
            
            # Station IDs → convert float strings like 7037.0 → 7037 + handle NaN
            for col in ["trip_id", "trip_duration", "start_station_id", "end_station_id", "bike_id", "bike_model"]:
                if col in df.columns:
                    df[col] = df[col].astype(str).replace("nan", None)

            # Timestamps → safe parse
            for col in ["start_time", "end_time"]:
                if col in df.columns:
                  df[col] = df[col].astype(str).replace("NaT", None)

            parquet_name = file_info.filename.split("/")[-1].replace(" ", "_").replace(".csv", ".parquet").lower()

            df.to_parquet(parquet_name, engine="pyarrow", index=False)

            parquet_files.append(parquet_name)

    Kestra.outputs({
        "year": year,
        "parquet_list": parquet_files
    })

  outputFiles:
    - "*.parquet"


# =========================
# LOOP PARQUET FILES
# =========================
- id: upload_to_gcs
  type: io.kestra.plugin.core.flow.ForEach

  values: "{{ outputs.download_and_extract.vars.parquet_list }}"

  tasks:

  # -------------------------
  # UPLOAD TO GCS
  # -------------------------
  - id: upload_one_file
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.download_and_extract.outputFiles[taskrun.value] }}"
    to: "{{ render(vars.gcs_file) }}/{{ taskrun.value }}"

  - id: bq_bikeshare_ridership
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('BQ_RAW_DATASET')}}.bikeshare_ridership`
      (
          unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
          filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'),      
          trip_id STRING,
          trip_duration NUMERIC,
          start_station_id STRING,
          start_time TIMESTAMP,
          start_station_name STRING,
          end_station_id STRING,
          end_time TIMESTAMP,
          end_station_name STRING,
          bike_id STRING,
          user_type STRING,
          bike_model STRING
      )
      PARTITION BY DATE(Start_Time);

  - id: bq_bikeshare_table_ext
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('BQ_RAW_DATASET')}}.{{taskrun.value | replace({'.parquet':''})}}_ext`
      OPTIONS (
        format = 'PARQUET',
        uris = ['{{ render(vars.gcs_file) }}/{{ taskrun.value }}']
      )

  - id: bq_bikeshare_table_tmp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('BQ_RAW_DATASET')}}.{{taskrun.value | replace({'.parquet':''})}}`
      AS
      SELECT
        MD5(CONCAT(
          COALESCE(CAST(trip_id AS STRING), ""),
          COALESCE(CAST(start_time AS STRING), ""),
          COALESCE(CAST(end_time AS STRING), ""),
          COALESCE(CAST(start_station_id AS STRING), ""),
          COALESCE(CAST(end_station_id AS STRING), "")
        )) AS unique_row_id,
        "{{ taskrun.value }}" AS filename,
        trip_id,
        CAST(trip_duration AS NUMERIC) AS trip_duration,
        start_station_id,
        SAFE_CAST(start_time AS TIMESTAMP) AS start_time,
        start_station_name,
        end_station_id,
        SAFE_CAST(end_time AS TIMESTAMP) AS end_time,
        end_station_name,
        bike_id,
        user_Type,
        bike_model
      FROM `{{kv('GCP_PROJECT_ID')}}.{{kv('BQ_RAW_DATASET')}}.{{taskrun.value | replace({'.parquet':''})}}_ext`;

  # -------------------------
  # MERGE INTO FINAL TABLE
  # -------------------------
  - id: bq_bikeshare_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('BQ_RAW_DATASET')}}.bikeshare_ridership` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{kv('BQ_RAW_DATASET')}}.{{taskrun.value | replace({'.parquet':''})}}` S
      ON T.unique_row_id = S.unique_row_id
      WHEN NOT MATCHED THEN
        INSERT (
          unique_row_id, filename, trip_id, trip_duration,
          start_station_id, start_time, start_station_name,
          end_station_id, end_time, end_station_name,
          bike_id, user_type, bike_model
        )
        VALUES (
          S.unique_row_id, S.filename, S.trip_id, CAST(S.trip_duration AS NUMERIC),
          S.start_station_id, SAFE_CAST(S.start_time AS TIMESTAMP), S.start_station_name,
          S.end_station_id, SAFE_CAST(S.end_time AS TIMESTAMP), S.end_station_name,
          S.bike_id, S.user_type, S.bike_model
        );

# =========================
# CLEANUP
# =========================
- id: cleanup_tmp
  type: io.kestra.plugin.scripts.shell.Commands
  commands:
    - rm -f *.zip || true
    - rm -f *.csv || true

- id: purge_files
  type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
  disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
      dataset: "{{kv('BQ_RAW_DATASET')}}"